@font-face {
		font-family: aliensandcows; /*a name to be used later*/
		src: url('aliens_and_cows/aliens_and_cows.ttf')
}
body{
	font-family: aliensandcows;
}
#nav{
	width: 60%;
	display: inline-block;
	text-align: center;
	color: #000000;
	float: right;
	/*font-family: "Courier New", Courier, monospace;*/
}

#nav ul li{
	display: inline-block;
	height: 62px;
	padding-top: 55px;
	color: black;
	font-style: normal;
	font-size: 35px;
	text-decoration: none;
}
#nav ul li a{
	padding: 20px;
	background: white;
	color: black;
	float: center;
	text-decoration: none;
}
#nav ul li a:hover{
	background: #fbfbfb;
	box-shadow: 0px 1px 1px #666;
	text-decoration: none;
}
#nav ul li a:active{
	background-color: #ff8f00;
}
#logo{
	width: 40%;
	margin-top: 5px;
	font-family: aliens_and_cows;
	display: inline-block;
	color: black ;
}
.wrapper {
 /* The height needs to be set to a fixed value for the effect to work.
  * 100vh is the full height of the viewport. */
	height: 100vh;
		  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
		  /* Enable scrolling on the page. */
  overflow-y: auto;
		  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

		.section {
		  /* Needed for children to be absolutely positioned relative to the parent. */
		  position: relative;
		  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
		  height: 100vh;

		  /* For text formatting. */
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  color: white;
			font-size: 50px;
		  text-shadow: 0 0 5px #000;
		}

		.parallax::after {
		  /* Display and position the pseudo-element */
		  content: " ";
		  position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;

		  /* Move the pseudo-element back away from the camera,
		   * then scale it back up to fill the viewport.
		   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
		  transform: translateZ(-1px) scale(1.5);
		  /* Force the background image to fill the whole element. */
		  background-size: 100%;
		  /* Keep the image from overlapping sibling elements. */
		  z-index: -1;
		}

		/* The styling for the static div. */
		.static {
		  background: #228B22;
			font-size: 40px;
		}

		/* Sets the actual background images to adorable kitties. This part is crucial. */
		.bg1::after {
		  background-image: url('msjclubs.jpg');
		}

		.bg2::after {
		  background-image: url('gwc.jpg');
		}
#link{
	text-decoration: none;
	color: white;
}
#clubinfo{
	font-family: Palatino;
}
.clubname{
	font-family: Palatino;
	font-size: 25px;
}
.clubcategory{
	font-family: aliensandcows;
	font-size: 60px;
}
#clubindex{
	font-family: aliensandcows;
	font-size: 75px;
}
